<!DOCTYPE html>
<html lang="en">
    <div>
        <p>
            <iframe width="400" height="480" frameborder="0" src=https://listudy.org/en/iframe/custom-tactic#{{ puzzle_url }}></iframe>
        </p>
    </div>
    <div>
        <form action="/" method="POST">
            <p>Your pieces:</p><br>
            <input type="checkbox" id="my_pawn" name="my_pawn" value="P">
            <label for="my_pawn"> Pawn</label><br>
            <input type="checkbox" id="my_bishop" name="my_bishop" value="B">
            <label for="my_bishop"> Bishop</label><br>
            <input type="checkbox" id="my_knight" name="my_knight" value="N">
            <label for="my_knight"> Knight</label><br>
            <input type="checkbox" id="my_rook" name="my_rook" value="R">
            <label for="my_rook"> Rook</label><br>
            <input type="checkbox" id="my_queen" name="my_queen" value="Q">
            <label for="my_queen"> Queen</label><br>
            <p>Opponent pieces:</p><br>
            <input type="checkbox" id="op_pawn" name="op_pawn" value="p">
            <label for="op_pawn"> Pawn</label><br>
            <input type="checkbox" id="op_bishop" name="op_bishop" value="b">
            <label for="op_bishop"> Bishop</label><br>
            <input type="checkbox" id="op_knight" name="op_knight" value="n">
            <label for="op_knight"> Knight</label><br>
            <input type="checkbox" id="op_rook" name="op_rook" value="r">
            <label for="op_rook"> Rook</label><br>
            <input type="checkbox" id="op_queen" name="op_queen" value="q">
            <label for="op_queen"> Queen</label><br>
            <input type="submit" value="Submit">
          </form> 
    </div>
    <div>
        <p>{{ pieces }}</p>
    </div>
</html>